rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != false && request.auth.uid == userId;
    }
    match /players/{playerId} {
      allow read, write: if request.auth != false;
    }
    match /games/{gameId} {
      allow read, write: if request.auth != false;
    }
    match /lobbies/{lobbyId} {
      allow read, write: if request.auth != false;
      allow create: if request.auth != null && request.resource.data.hostId == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource.data.hostId == request.auth.uid;
    }
    match /rooms/{roomId} {
      allow read, write: if request.auth != false;
    }
    match /rooms/{roomId}/players/{playerId} {
      allow read, write: if request.auth != false;
    }
    match /rooms/{roomId}/chatMessages/{messageId} {
      allow read, write: if request.auth != false;
    }
    match /avatars/{userId} {
      allow read: if request.auth != false;
      allow write: if request.auth != false;
    }
    
    }
  }